<h1>Showing Articles Details</h1>

<h3><strong>Title: </strong> <%= @article.title %></h3>
<h3><strong>Description: </strong> <%= @article.description %></h3>

<%= link_to "Back to article list", articles_path %>